<div class="loaderBodyBG">
  <p-card>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div *ngIf="flag">
            <input pInputText type="text" name="username" class="inputbox" [(ngModel)]="messageForUser" [disabled]="true" icon="pi pi-check">          
        </div>
        <div *ngIf="!flag">
          <input pInputText type="text" name="username" class="inputbox" #username = "ngModel" [(ngModel)]="messageForUser">
          <button pButton type="button" label="Info" class="ui-button-rounded ui-button-info"></button>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      	<div class="col-sm-6">
        <div *ngIf="flag">          
            <button pButton (click)="updateuserprofiles()" label="Edit"></button>
          </div> 
         </div> 
         </div>       
        <div *ngIf="!flag">   
        	<div class="row">
        <div class="col-sm-3">    
            <p-button label="Save" styleClass="ui-button-raised ui-button-success" (click)="finallyupdate()"></p-button>         
       </div>
        <div class="col-sm-3">            
              <p-button (click)="cancelupdate()" label="Cancel" styleClass="ui-button-info"></p-button>            
        </div>
        </div>  
        </div>
        </div>   
  </p-card>
</div>
