<div class="loaderBodyBG">
  <p-card>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <input pInputText type="text" name="username" class="inputbox" [(ngModel)]="messageForUser" [disabled]="true">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button pButton (click)="updateprofile()" label="Submit"></button>
        </div>
        <div class="col-sm-4">
          <button pButton (click)="updateuserprofile()" 
          label="Edit"></button>
        </div>
      </div>
    </div>
  </p-card>
</div>
