.loaderBodyBG {
    background-color: #ffffff;
    z-index: 20;
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.inputbox {
    background-color: #d3d3d3 ;
    // border: 1px solid black;
    padding: 5px;
    margin: 1em;
}