<div class="container-fluid">
    <div class="loaderBodyBG">
        <div class="row mh1">
            <div class="col-sm-2 ">
                <!-- <div class="loaderalign"> -->
                <div align="center">
                    <img src="assets/clearfly-logo.png" />
                </div>
            </div>
            <div class="col-sm-10">
                <nav class="navbar navbar-expand-lg ">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="list-group-item lftNv " routerLink="/dashboard/">Fax Records </a>
                            <a class="nav-item nav-link" href="#">Features</a>
                            <a class="nav-item nav-link" href="#">Pricing</a>
                            <a class="nav-item nav-link disabled" href="#">Disabled</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- <div class="col-sm-2">
            
        </div> -->
            <div class="col-lg-12">
                <div class="ui-grid ui-grid-responsive">
                    <p-table [value]="data">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Average Rate</th>
                                <th>Included Units</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-value>
                            <tr>
                                <td *ngFor=" let productList of productlist ">
                                    {{value[productList]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <label>Primeng Turbo table</label> -->
<!-- <p-table [value]="detail">
        <ng-template pTemplate="header">
            <tr>
                <th>Employees</th>
                <th>Department</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
            
            <tr>
                <td>{{detail.emplid}}</td>
                <td>{{detail.Department}}</td>
            </tr>
        </ng-template>        
    </p-table> -->
