<div class="container"> //Bootstrap container class
    <div class="loaderBodyBG">
        <!-- <div class="row mh1">
            <div class="col-sm-2 ">
                
                <div align="center">
                    <img src="assets/clearfly-logo.png" />
                </div>
            </div>
            <div class="col-sm-10">
                <nav class="navbar navbar-expand-lg ">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="list-group-item lftNv " routerLink="/dashboard/">Fax Records </a>
                            
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div> -->
        <br>
        <div class="row">
            <!-- <div class="col-sm-2">
            
        </div> -->
            <div class="col-lg-12">
                <div>
                    <p-table [value]="data">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Average Rate</th>
                                <th>Included Units</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-value>
                            <tr>
                                <td *ngFor=" let productList of productlist ">
                                    {{value[productList]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

<div class="container">
  <h2>Form</h2>
  <form #employeeForm = "ngForm" (ngSubmit)="saveemployee(employeeForm)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input required type="email"  id="email" [(ngModel)]= "email" placeholder="Enter email" name="email" #emailcontrol = "ngModel">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password"  id="pwd" [(ngModel)]= "password" placeholder="Enter password" name="pwd">
    </div>
    
    <button type="submit">Submit</button>
  </form>

{{employeeForm.value | json}}
{{emailcontrol.dirty}}
{{emailcontrol.touched}}
Pristine: {{employeeForm.pristine}}

    
</div>
<!-- <label>Primeng Turbo table</label> -->
<!-- <p-table [value]="detail">
        <ng-template pTemplate="header">
            <tr>
                <th>Employees</th>
                <th>Department</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
            
            <tr>
                <td>{{detail.emplid}}</td>
                <td>{{detail.Department}}</td>
            </tr>
        </ng-template>        
    </p-table> -->
