<div class="loaderBodyBG">

  <div class="row">
  <div class="col-lg-12">
        <div class="container headerWrapper">
            <div class="navbar-header">
                <a class="navbar-brand logobtn"><img src="assets/clearfly-logo.png" /></a>
                <div class="wrapLogout">WELCOMEs<a class="user"></a>&nbsp; &nbsp;<span class="circle" (click)="logout()"><i class="fa fa-sign-out logoutIco" aria-hidden="true" ></i></span></div>
            </div>
        </div>
  
  </div>
</div>


<div class="row">
  <div class="col-lg-2 contentHeight"> 
    
  <div class="container">
    <p-tabView (onChange)="onChange($event)">
      <p-tabPanel header="Dashboard" [selected]="true" >
      </p-tabPanel>
      <p-tabPanel header="Accounts" >
      </p-tabPanel>
      <p-tabPanel header="Account Authorization" >
      </p-tabPanel>
      <p-tabPanel header="Blocked Numbers">
      </p-tabPanel>
      <p-tabPanel header="Email Settings">
      </p-tabPanel>
      <p-tabPanel header="New Login">
      </p-tabPanel>
       <p-tabPanel header="Sender">
      </p-tabPanel>
    </p-tabView>
  </div>
      
    <p-tabMenu [model]="items">D</p-tabMenu>
  
  </div>

<div class= "col-lg-8">
  <!-- <a class="list-group-item lftNv " routerLink="/mainmenu/sender"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Fax Records </a> -->
<div>
  <router-outlet>
      </router-outlet>
      </div>

  

</div>



</div>


 <!--  <p-tabView>
    <p-tabPanel header="Dashboard">
        <ng-template pTemplate="content">
            <a routerLink="/mainmenu/email" (click)="onMenuItemClick('dashboard')">Dashboard</a>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Email">
        <ng-template pTemplate="content">
            <a routerLink="/mainmenu/email" (click)="onMenuItemClick('email')">Email</a>
        </ng-template>
    </p-tabPanel>
    <router-outlet></router-outlet>
</p-tabView> -->

  <div class="container footerWrapper">
                <footer>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <p>&copy; Clearfly Communications. All rights reserved.</p>
                        </div>
                    </div>
                </footer>
            </div>

</div>
