<div class="loaderBodyBG">
  <!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/email">E-mail</a>
</nav> -->
  <!-- <a routerLink="/mainmenu" (click)= "onMenuItemClick('mainmenu')"> h</a>

						<router-outlet>
                            
                        </router-outlet> -->
  <!-- <div class="fixed-header">
    <div class="heading">
    </div>

    <p-tabView (onChange)="onChange($event)" [activeIndex]="selectedIndex" routerLink="/accounts/accounts">
      <p-tabPanel header="dashboard" [selected]="true">
        Dashboard
      </p-tabPanel>
      <p-tabPanel header="accounts">
        Accounts
        <ng-template pTemplate="content">
           
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="email">
        email
      </p-tabPanel>
    </p-tabView>
  </div> -->

  <nav class="">
  <div class="container-fluid">
    <p-tabView (onChange)="onChange($event)" 
    [activeIndex]="selectedIndex">
      <p-tabPanel header="Dashboard">
      </p-tabPanel>
      <p-tabPanel header="Accounts" >
      </p-tabPanel>
      <p-tabPanel header="Account Authorization" [selected]="true">
      </p-tabPanel>
      <p-tabPanel header="Blocked Numbers">
      </p-tabPanel>
      <p-tabPanel header="Email Settings">
      </p-tabPanel>
      <p-tabPanel header="New Login">
      </p-tabPanel>
    </p-tabView>
    <div class="col-md-12 wrapperRight">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</nav>




 <!--  <p-tabView>
    <p-tabPanel header="Dashboard">
        <ng-template pTemplate="content">
            <a routerLink="/mainmenu/email" (click)="onMenuItemClick('dashboard')">Dashboard</a>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Email">
        <ng-template pTemplate="content">
            <a routerLink="/mainmenu/email" (click)="onMenuItemClick('email')">Email</a>
        </ng-template>
    </p-tabPanel>
    <router-outlet></router-outlet>
</p-tabView> -->

  
  



</div>
