.loaderBodyBG {
    background-color: #ffffff;
    z-index: 20;
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.heading {
    position:center;
}

.fixed-header {
  top: 0;
  position: fixed;
  z-index:999;

}

.wrapperRight {
    float: none;   
    
}
.contentHeight {
    height: 400px;
    width: 70px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-left: 100px;
    font-size: 14px;
    display: block;
    padding: 10px 10px;
}
.tabDispaly{
    // border: 1px solid grey;
    background-color: white;
    color: black;
    padding: 4px 8px;
    
    
}
.ui-tabview-panels{
    display: none!important;
}

.contentBorder{
    border: 1px;
}