.loaderBodyBG {
    background-color: #ffffff;
    z-index: 20;
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.displaybox{
    margin-bottom: 4px;
    margin-top: 10px;
    float: right;
    color: #6fb43f;
    width: 150px;
    height: 40px;
/*    border: 1px solid #080808 ;*/
    text-align: center;
    
}


.authBtn {
    color: #6fb43f;
}
.spinner {
  position: absolute!important;
  807 top: 40%!important;
}
