<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="loaderBodyBG">
  <div class="container">
    <h2>Authorization</h2>
    <!-- <div class="panel panel-default"> -->
    <p-card>
      <div class="panel-body displaybox">
        <div class="pull-left">
          <button (click)="addAuthorisedUser()">
            <i class="fa fa-plus authBtn" aria-hidden="true"></i> Add Authorization
          </button>
        </div>
      </div>
      <p-dialog header="Add authorization" [(visible)]="display">
        E-mail
      </p-dialog>
    </p-card>
  </div>
</div>
