<p-card>
  <h4>Email settings</h4>
  <div class="settings-box">
    <strong>Email Cover Page</strong>
    <div class="settings-box-content">
      <p class="text-muted">If enabled, a cover page will be prepended to emails with attachments if there is text in the subject line or body of the email.</p>
      <div class="pull-right">
        <p-toggleButton [(ngModel)]="emailCover"></p-toggleButton>
      </div>
    </div>
  </div>
  <div class="settings-box">
    <strong>Email Delivery Report</strong>
    <div class="settings-box-content">
      <p class="text-muted">Enable this option if you want to receive success and failure delivery reports via email.</p>
      <div class="pull-right">
        <p-toggleButton [(ngModel)]="emailReport"></p-toggleButton>
      </div>
    </div>
  </div>
  <h4>Receiver Management</h4>
  <p-card>
    <p-table [value]="userdata">
      <ng-template pTemplate="header">
        <tr>
          <th>Email Address</th>
          <th>Alias</th>
          <th>Actions</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr>
          <td *ngFor="let userList of userlist">
            {{value[userList]}}
          </td>
          <td><i class="fa fa-trash-o gap-between-elements deleteBtn cursor" aria-hidden="true"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</p-card>
