<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <p-card>
        Blocked Numbers
        <p-card>
          <p-table [value]="userdata">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Description</th>
                <th>MatchCsid</th>
                <th>MatchAni</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-value>
              <tr *ngFor="let userList of userdata">
                <td> 
                {{userList.number}}
                </td>
                <td> 
                {{userList.description}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </p-card>
    </div>
    <div class="col-sm-3">
      
        <p-dialog header="Add Blocked Number" [(visible)]="display">
          <input type="text" name="Number" placeholder="Number" 
          [(ngModel)]="blockednumber"><br>
          <div>
          	<button name ="button" type="text" 
          	(click)="addBlockedNumber()">Add </button>
          </div>          
        </p-dialog>
        <button type="text" (click) ="addblockednumber()" pButton icon="pi pi-info-circle" label="Add Blocked Number"></button>
      
    </div>
  </div>
