.loaderBodyBG {
    background-color: #ffffff;
    z-index: 20;
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.loader{
    align:absolute;
}