 
<div class="loaderBodyBG">
  <!-- <p>
    Your bucket list ({{ itemCount }})
    <br>
    <input type="submit" [value]="btnText">
    <br>
    <input type="submit" value="{{ btnText }}">
    
    <input type="text" name="item" placeholder="Life goal.." [(ngModel)]="goalText">
    <br><span>{{ goalText }}</span>

    <input type="submit" value="{{ btnText }}" (click)="addItem()">
  </p>

    <button (click)="show = !show">

    {{show ? 'Hide' : 'show'}}</button>    
    
    <br>
    
    <div *ngIf="show">Text to show</div>  


    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>

    <ul>Array of Angular
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
  </ul> -->

<!-- <input id="name" name="name" #name ="ngModel">
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf ="name.error"> Name required</div></div> -->



<p-card>
    
<div class="container ">
<div class="row">
Email:<input type="text" pInputText [(ngModel)]="Email"/>
</div>
<!-- {{Email}} -->
<div class="row" >
Password:<input type="password" pPassword  [(ngModel)]="Password"/></div>

<div class="row">

Mobile:<input type="text" pInputText [(ngModel)]="Mobile"/>

</div>

<div class="row">
FirstName:<input type="text" pInputText [(ngModel)]="Firstname"/>
</div>

<div class="row">
Lastname:<input type="text" pInputText [(ngModel)]="Lastname"/>
</div>

<div class="row">
Class:<input type="text" pInputText [(ngModel)]="Studentclass"/>
</div>

<div class="row">
Gender:<input type="text" pInputText [(ngModel)]="Gender"/>
</div>

<div class="row">
Select verficiation mode : E-mail
<div class="col-sm-4">

<p-toggleButton [(ngModel)]="mail"></p-toggleButton>
<!-- {{mail}} -->

Mobile<p-toggleButton [(ngModel)]="mobile"></p-toggleButton>

</div>
</div>

<p-checkbox name="groupname" binary="true" label="Email"
[(ngModel)]="selectedValues"> </p-checkbox>

<!-- {{selectedValues}} -->

<!-- <p-checkbox name="groupname" value="userMobile" label="Mobile"
[(ngModel)]="selectedValues"></p-checkbox>
 -->
<button pButton type="button" label="Submit" (click)= signup()></button>

</div>
</p-card>


<input (keyup)="onKey($event)">
<p>{{values}}</p>

<!-- rewrite of above keyup event -->
<!-- <input #box (keyup)= onKey(box.value)>Name:
<p>{{values}}</p> -->

<input #box (keyup)="0">Enter your Name:
<p>{{box.value}}</p>

<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<button type="button" (click)="updateName()">Show</button>
<p>
  Value: {{ name.value }} {{name.status}}
</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div formGroupName="address">
    <h3>Address</h3>
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
  </div>
  
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>



</div>