 
<div class="loaderBodyBG">
  <!-- <p>
    Your bucket list ({{ itemCount }})
    <br>
    <input type="submit" [value]="btnText">
    <br>
    <input type="submit" value="{{ btnText }}">
    
    <input type="text" name="item" placeholder="Life goal.." [(ngModel)]="goalText">
    <br><span>{{ goalText }}</span>

    <input type="submit" value="{{ btnText }}" (click)="addItem()">
  </p>

    <button (click)="show = !show">

    {{show ? 'Hide' : 'show'}}</button>    
    
    <br>
    
    <div *ngIf="show">Text to show</div>  


    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>

    <ul>Array of Angular
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
  </ul> -->


<p-card>
<div class="container ">
<div class="row">
Email:<input type="text" pInputText [(ngModel)]="Email"/>
</div>
<!-- {{Email}} -->
<div class="row" >
Password:<input type="password" pPassword  [(ngModel)]="Password"/></div>

<div class="row">

Mobile:<input type="text" pInputText [(ngModel)]="Mobile"/>

</div>

<div class="row">
FirstName:<input type="text" pInputText [(ngModel)]="Firstname"/>
</div>

<div class="row">
Lastname:<input type="text" pInputText [(ngModel)]="Lastname"/>
</div>

<div class="row">
Class:<input type="text" pInputText [(ngModel)]="Studentclass"/>
</div>

<div class="row">
Gender:<input type="text" pInputText [(ngModel)]="Gender"/>
</div>

<div class="row">
Select verficiation mode : E-mail
<div class="col-sm-4">
<p-toggleButton [(ngModel)]="mail"></p-toggleButton>
<!-- {{mail}} -->

Mobile<p-toggleButton [(ngModel)]="mobile"></p-toggleButton>

</div>
</div>


<button pButton type="button" label="Submit" (click)= signup()>   
</button>

</div>
</p-card>

</div>
