   @import "@fuse/scss/core";
   
   .loaderBodyBG {
    background-color: #333;
    z-index: 20;
    height: 100%;
    min-height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}


#loadingWrapper {
    margin: 0 auto;
    width: 140px;
    text-align: center;
    margin-top: -70px;
    top: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 140px;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
}